[Unit]
Description=A discord bot
Documentation=https://github.com/berkan-sahin/salep
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/opt/salep/.pid
ExecStart=/bin/bash /opt/salep/launch.sh
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
